*{
    margin: 0;
    padding: 0;
    

}
.navbar{
    height: 80px;
    width: 100%;
    background: linear-gradient(#48649f,#385998);
    border-bottom: 1px solid #253a59;
    
 

}
.login{
    display: flex;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 58%;
    top: 15px;
}
.login .phone
.login .password{
 padding-left: 10px;
}
.login .phone .font
.login .password .font{
    font-size: 13px;
    padding-bottom: 4px;
    color: white;

}
.login .phone input,
.login .password input{
    height: 25px;
    width: 150px;
    padding-left: 5px;
    border: 1px solid black;
    outline: none;
}
.login_button{
    height: 24px;
    width: 50px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    color: white;
    background: #2d5bba;
    border: 1px solid #224285;
}
.section{
    /* font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 57%; */
    height: 500px;
    width: 100%;
    top: 800px;
    background: linear-gradient(#fdfdfe,#eff1f6,#e3e6f0,#d6dbea);
    font-family: verdana;

}
.create{
       font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 57%;
    top: 80px;
    
}
.create .acc_crt{
    font-size: 40px;
    margin: 25px 0;


}
.create .free{
    margin: -20px 5px;
    font-size: 18px;
}
.create .new input{
  margin-top: 50px;
  height: 38px;
  width: 190px;
  padding-left: 10px;
  font-size: 18px;
  border: 1px solid silver;
  border-radius: 4px;
}
.create .new .surname{
    margin-left: 15px;

}
.create .new .email,
.create .new .password{
margin-top: 20px;
width: 410px;
}
.create .new .birthday{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(65, 62, 62);
}
.create .new .birth_date{
    margin-top:-35px;
    width: 170px;
    font-size: 18px;
}
.create .new .birth_hint{
    font-size: 11px;
    padding-left: 210px;
    margin-top: -28px;
    width: 150px;
    color: rgb(122, 122, 253);


}
.create .new input[type="radio"]{
height: 15px;
margin-left: -50px;
margin-top: 15px;
}

.create .new input[value="male"]{
    margin-left: -85px;
}
.create .new input[value="female"]{
    margin-left: -100px;
}
.create .new .font{
    margin-left: 25px;
    margin-top: -20px;
}
.create .new .font2{
    margin-left: 120px;
    margin-top: -18px;
    
}
.create .new .agree{
    margin-top: 15px;
    font-size: 12px;
    width: 350px;
    color: grey;
}

.create .new .signup{
    margin-top: 20px;
    height: 38px;
    width: 170px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid silver;
    border-radius: 4px;
    cursor: pointer;
    background: #2d5bba;
    color: white;
    outline: none;
    background:linear-gradient(#6fad5a,#66a150,#60974c);

}
footer {
    margin-top: 80%;
    background-color: #253a59;
    padding:0%;
    align-items: center;
    height: 10rem;
    width: 100%;
}

footer .first  {
    padding-top: 0%;
    display: flex;
    justify-content: center;
}

footer.first  p {
    color: white;
    font-size: 16px;
}
.menu ul{
    display: flex;
   gap: 10px;
  

   justify-content: center;
}

.menu ul a{
    list-style: none;
    font-size: 15px;
    color: aliceblue;
    gap: 10px;
}






